input.in-drop {
  border: 1px solid #D7D7D7;
  padding: 0.4em 0.5em;
  width: 100%;
  color: #a3a3a3;
  font-size: 0.9em;
  outline: none;
}
.title_p {
  margin-top: 1em;
  font-size: 16px;
  color: white;
}
#searchShortRoom,
#searchLongRoom {
  margin-top: 2em;
  background-color: #27da93;
  border: #27da93;
}
.future {
  padding-top: 0;
}
.single-bottom form {
  margin-top: 0.5em;
}
.single-bottom form label {
  font-size: 16px;
  color: #000;
  font-weight: normal;
  line-height: 20px;
}
.single-bottom form .whiteFont {
  color: white;
  text-decoration: none;
}
